In [22]:
import pandas as pd

# Load the data from the CSV file into a pandas DataFrame
df = pd.read_csv('Unicorn_Companies_cleaned.csv')

# Apply the split and explode operations on 'Column2'
result_df = df.assign(Column2=df['Select Investors'].str.split(',')).explode('Select Investors').reset_index(drop=True)

# Print the final DataFrame
print(result_df)

          Company     Valuation Date Joined                         Industry  \
0       Bytedance  180000000000  2017-04-07          Artificial Intelligence
1          SpaceX  100000000000  2012-12-01                            Other
2           SHEIN  100000000000  2018-07-03  E-Commerce & Direct-To-Consumer
3          Stripe   95000000000  2014-01-23                          Fintech
4          Klarna   46000000000  2011-12-12                          Fintech
...           ...           ...         ...                              ...
1069     Zhaogang    1000000000  2017-06-29  E-Commerce & Direct-To-Consumer
1070  Zhuan Zhuan    1000000000  2017-04-18  E-Commerce & Direct-To-Consumer
1071     Zihaiguo    1000000000  2021-05-06                Consumer & Retail
1072         Zopa    1000000000  2021-10-19                          Fintech
1073        Zwift    1000000000  2020-09-16  E-Commerce & Direct-To-Consumer

               City         Country      Continent  Year Founded  \
0           Beijing           China           Asia          2012
1         Hawthorne   United States  North America          2002
2          Shenzhen           China           Asia          2008
3     San Francisco   United States  North America          2010
4         Stockholm          Sweden         Europe          2005
...             ...             ...            ...           ...
1069       Shanghai           China           Asia          2012
1070        Beijing           China           Asia          2015
1071      Chongqing           China           Asia          2018
1072         London  United Kingdom         Europe          2005
1073     Long Beach   United States  North America          2014

           Funding                                   Select Investors  \
0     8.000000e+09  Sequoia Capital China, SIG Asia Investments, S...
1     7.000000e+09  Founders Fund, Draper Fisher Jurvetson, Rothen...
2     2.000000e+09  Tiger Global Management, Sequoia Capital China...
3     2.000000e+09        Khosla Ventures, LowercaseCapital, capitalG
4     4.000000e+09  Institutional Venture Partners, Sequoia Capita...
...            ...                                                ...
1069  3.790000e+08    K2 Ventures, Matrix Partners China, IDG Capital
1070  9.900000e+08                           58.com, Tencent Holdings
1071  8.000000e+07  Xingwang Investment Management, China Capital ...
1072  7.920000e+08  IAG Capital Partners, Augmentum Fintech, North...
1073  6.200000e+08    Novator Partners, True, Causeway Media Partners

                                                Column2
0     [Sequoia Capital China,  SIG Asia Investments,...
1     [Founders Fund,  Draper Fisher Jurvetson,  Rot...
2     [Tiger Global Management,  Sequoia Capital Chi...
3       [Khosla Ventures,  LowercaseCapital,  capitalG]
4     [Institutional Venture Partners,  Sequoia Capi...
...                                                 ...
1069  [K2 Ventures,  Matrix Partners China,  IDG Cap...
1070                        [58.com,  Tencent Holdings]
1071  [Xingwang Investment Management,  China Capita...
1072  [IAG Capital Partners,  Augmentum Fintech,  No...
1073  [Novator Partners,  True,  Causeway Media Part...

[1074 rows x 11 columns]

In [23]:
result_df

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Column2
0,Bytedance,180000000000,2017-04-07,Artificial Intelligence,Beijing,China,Asia,2012,8.000000e+09,"Sequoia Capital China, SIG Asia Investments, S...","[Sequoia Capital China, SIG Asia Investments,..."
1,SpaceX,100000000000,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,"Founders Fund, Draper Fisher Jurvetson, Rothen...","[Founders Fund, Draper Fisher Jurvetson, Rot..."
2,SHEIN,100000000000,2018-07-03,E-Commerce & Direct-To-Consumer,Shenzhen,China,Asia,2008,2.000000e+09,"Tiger Global Management, Sequoia Capital China...","[Tiger Global Management, Sequoia Capital Chi..."
3,Stripe,95000000000,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.000000e+09,"Khosla Ventures, LowercaseCapital, capitalG","[Khosla Ventures, LowercaseCapital, capitalG]"
4,Klarna,46000000000,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.000000e+09,"Institutional Venture Partners, Sequoia Capita...","[Institutional Venture Partners, Sequoia Capi..."
...,...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,2017-06-29,E-Commerce & Direct-To-Consumer,Shanghai,China,Asia,2012,3.790000e+08,"K2 Ventures, Matrix Partners China, IDG Capital","[K2 Ventures, Matrix Partners China, IDG Cap..."
1070,Zhuan Zhuan,1000000000,2017-04-18,E-Commerce & Direct-To-Consumer,Beijing,China,Asia,2015,9.900000e+08,"58.com, Tencent Holdings","[58.com, Tencent Holdings]"
1071,Zihaiguo,1000000000,2021-05-06,Consumer & Retail,Chongqing,China,Asia,2018,8.000000e+07,"Xingwang Investment Management, China Capital ...","[Xingwang Investment Management, China Capita..."
1072,Zopa,1000000000,2021-10-19,Fintech,London,United Kingdom,Europe,2005,7.920000e+08,"IAG Capital Partners, Augmentum Fintech, North...","[IAG Capital Partners, Augmentum Fintech, No..."
1073,Zwift,1000000000,2020-09-16,E-Commerce & Direct-To-Consumer,Long Beach,United States,North America,2014,6.200000e+08,"Novator Partners, True, Causeway Media Partners","[Novator Partners, True, Causeway Media Part..."

In [30]:
import pandas as pd

# Load the data from the CSV file into a pandas DataFrame
df = pd.read_csv('Unicorn_Companies_cleaned.csv')

# Create an empty DataFrame to store the results
result_df = pd.DataFrame(columns=df.columns)

# Iterate through each row in the original DataFrame
for index, row in df.iterrows():
    # Split the comma-separated values in 'Column2'
    values = str(row[('Select Investors')]).split(',')
    
    # Create a new row for each value in 'Column2' and copy 'Column1'
    for value in values:
        new_row = row.copy()
        new_row['Select Investors'] = value.strip()  # Remove extra spaces if any
        result_df = result_df.append(new_row, ignore_index=True)

# Print the final DataFrame
result_df

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180000000000,2017-04-07,Artificial Intelligence,Beijing,China,Asia,2012,8.000000e+09,Sequoia Capital China
1,Bytedance,180000000000,2017-04-07,Artificial Intelligence,Beijing,China,Asia,2012,8.000000e+09,SIG Asia Investments
2,Bytedance,180000000000,2017-04-07,Artificial Intelligence,Beijing,China,Asia,2012,8.000000e+09,Sina Weibo
3,Bytedance,180000000000,2017-04-07,Artificial Intelligence,Beijing,China,Asia,2012,8.000000e+09,Softbank Group
4,SpaceX,100000000000,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,Founders Fund
...,...,...,...,...,...,...,...,...,...,...
3049,Zopa,1000000000,2021-10-19,Fintech,London,United Kingdom,Europe,2005,7.920000e+08,Augmentum Fintech
3050,Zopa,1000000000,2021-10-19,Fintech,London,United Kingdom,Europe,2005,7.920000e+08,Northzone Ventures
3051,Zwift,1000000000,2020-09-16,E-Commerce & Direct-To-Consumer,Long Beach,United States,North America,2014,6.200000e+08,Novator Partners
3052,Zwift,1000000000,2020-09-16,E-Commerce & Direct-To-Consumer,Long Beach,United States,North America,2014,6.200000e+08,True
3053,Zwift,1000000000,2020-09-16,E-Commerce & Direct-To-Consumer,Long Beach,United States,North America,2014,6.200000e+08,Causeway Media Partners

In [ ]:
result_df

In [31]:
result_df.to_csv('Investors.csv')